.active-cell {
	background-color: article_color_h;
	border: 1px solid white;
	padding: 0.25em 1em;
}

.deviderline {
	border-bottom: 1px solid article_color_h;
	margin-bottom: 1em;
	padding-bottom: 1em;
}
.matrix img {
	width: 200px;
}
.matrix {
	font-size: 0.85em;
}

.tab-content h3 {
	padding-top: 0.5em;
}
.consultation {
	margin-top: 1em;
	padding: 1em;
}

.deliverysets {
	align-content: space-between;
	display: flex !important;
	flex-direction: column;
	height: 100%;
}
.deliverybox {
	flex: 1 0 auto;
	margin-bottom: 1em;
	padding: 0.25em 1em;
}

#videoplayer {
	padding-bottom: 1em;
}

.techdata td, .downloads, .inactive-cell, .consultation, .deliverybox, .block-box {
	background-color: article_color_box;
	border: 1px solid white;
}
.techdata td, .downloads, .block-box {
	padding: 0.25em 1em;
}
.back-list {
	background-color: article_color_h;	
	color: article_color_bg !important;	
	margin-top: 1em;
	padding: 1em;
}
.back-list a {
	color: article_color_bg !important;	
	width: 100%;
}
@media screen and (min-width: 992px) {
	.inactive-cell {
		padding: 0.25em 1em;
	}
}
.techdata td.description {
	min-width: 200px;
	width: 30%;
}
.techdata td.value {
	min-width: 200px;
	width: 70%;
}
.vertical {
	writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	white-space: nowrap;
	display: block;
	max-height: 200px;
	min-width: 1em;
}

.carousel-item {
	transition-duration: 3s !important
}

.fa-icon {
	font-family: FontAwesome;
}
.fa-back:before {
	content: "\f190";
}
.fa-codepen:before {
	content: "\f1cb";
}
.fa-dropbox:before {
	content: "\f16b";
}
.fa-envelope-o:before {
	content: "\f003";
}
.fa-file-pdf-o:before {
	color: #c60000;
	content: "\f1c1";
}
.fa-file-pdf-o {
	padding-right: 0.25em;
}
.fa-home:before {
	content: "\f015";
}
.fa-list-ul:before {
	content: "\f0ca";
}
.fa-plus:before {
	content: "\f067";
}

/* Captcha */
#tab_request .input-group-addon img {
	height: 100%;
}
.input-group-btn:last-child > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-primary {
	background-color: article_color_h !important;
	border: none !important;
}
.btn-default {
	background-color: article_color_h;
	border: 1px solid article_color_h;
	color: article_color_bg;
}