/* D2U Machinery Addon */
.subhead {
	background-color: #f00202;
}
.subhead a {
	color: white;
}
.subhead a:hover {
	text-decoration: underline;
}
#breadcrumbs {
	padding: 1em 0 0 0;
}
#breadcrumbs.subhead, #breadcrumbs.subhead a {
	color: white;
}
.box {
	background-color: #f00404;
	border: 1px solid #f00404;
	text-align: center;
}
.box div {
	color: white;
	padding: 5px;
}
.box img {
	max-width: 100%;
}
.consultation {
	margin-top: 3em;
}
.nav li.active a {
	background: url("../assets/addons/d2u_machinery/icon_arrowTabs.svg") no-repeat 50% bottom;
}
.nav li, .nav li.active {
	padding: 0 2em 0 0;
}
.nav li a, .nav li.active a {
	font-weight: bold;
	padding: 0 0 15px 0;
}
.nav li.active a:hover, .nav li a:hover,
.nav li.active a:focus, .nav li a:focus {
	background-color: #f00202;
}
.nav li.active a:hover, .nav li a:hover {
	text-decoration: underline;
}
.teaser {
	text-align: left;
}
@media screen and (max-width: 600px) {
	.teaser {
		font-size: 10px;
	}
}
h1.machine {
	color: white;
	font-size: 2em;
	font-weight: bold;
	margin: 0.5em 0;
}
.machine-tab {
	padding: 3em 0;
}
.machine-tab h3 {
	font-size: 1.25em;
}
.item img {
	margin: auto;
	width: 100%;
}
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../assets/addons/d2u_machinery/fonts/glyphicons-halflings-regular.eot');
	src: url('../assets/addons/d2u_machinery/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		 url('../assets/addons/d2u_machinery/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
		 url('../assets/addons/d2u_machinery/fonts/glyphicons-halflings-regular.woff') format('woff'),
		 url('../assets/addons/d2u_machinery/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		 url('../assets/addons/d2u_machinery/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.featurepic {
	border: 1px solid #f00202;
	margin-bottom: 2em;
}
.techdata td, .downloads, .inactive-cell {
	background-color: #e8e8e8;
	border: 1px solid white;
	padding: 0.25em 1em;
}
.techdata td.description {
	min-width: 200px;
	width: 30%;
}
.techdata td.value {
	min-width: 200px;
	width: 70%;
}
.active-cell {
	background-color: #f00202;
	border: 1px solid white;
	padding: 0.25em 1em;
}
.carousel .carousel-control.left, .carousel .carousel-control.right {
	background: transparent;
}
.carousel-control {
	opacity: 1;
}
.carousel-indicators li {
	border: 1px solid white;
}
.carousel-indicators .active {
	background-color: white;
}
#machineCarousel {
	margin-bottom: 1em;
}
.matrix img {
	width: 200px;
}
@media screen and (max-width: 600px) {
	.nav-pills, #breadcrumbs {
		font-size: 10px;
	}
}
.downloadbox {
	background-color: #a49f9f;
	padding: 1em;
	margin: 1em 0;
}
.downloadbox a {
	color: white !important;
}
.downloadbox span {
	padding-right: 1em;
}